---
title: "{{.Title}}"
status: "{{if .Status}}{{.Status}}{{else}}pending{{end}}" # Options: Pending, Ongoing, Completed, Hold, Abandoned
responsible: "{{.Responsible}}"
planned_start: "{{.PlannedStart.Format "2006-01-02"}}"
planned_end:   "{{.PlannedEnd.Format "2006-01-02"}}"
{{if .ActualStart.IsZero}}# actual_start:  "{{.ActualStart.Format "2006-01-02"}}" # optional (defaults to planned if not here)
{{else}}actual_start:  "{{.ActualStart.Format "2006-01-02"}}" # optional (defaults to planned if not here)
{{end}}
{{if .ActualEnd.IsZero}}# actual_end:    "{{.ActualEnd.Format "2006-01-02"}}" # optional (defaults to planned if not here)
{{else}}actual_end:    "{{.ActualEnd.Format "2006-01-02"}}" # optional (defaults to planned if not here)
{{end}}
{{- if .Dependencies}}
dependencies: # list of WP IDs on which this task depends
{{- range .Dependencies}}
  - {{.}}
{{- end}}
{{- end}}
assigned: # email (can be  both internal or external actors)
{{- range .Assigned}}
  - "{{.}}"
{{- end}}
budget: {{printf "%.2f" .Budget}} # $CAD (optional planned cost)
time_budget: {{printf "%.1f" .TimeBudget.Hours}} # h (optional)
---

# Description
{{if .Description}}{{.Description}}{{else}}Provide a detailed description of the work package, including scope, objectives, and boundaries. Explain what is included and excluded.{{end}}

# Deliverables
{{if .Deliverables}}{{.Deliverables}}{{else}}- List of expected tangible or documented outputs
- Each deliverable should be specific and measurable{{end}}

# Risk Mitigation
{{if .RiskMitigation}}{{.RiskMitigation}}{{else}}Describe specific risks associated with this work package and planned mitigation actions.{{end}}

# Performance Requirements
{{if .PerfRequirements}}{{.PerfRequirements}}{{else}}List key technical or performance requirements the work package must satisfy.{{end}}

# Documentation References
{{if .Documentation}}{{.Documentation}}{{else}}Provide references to related documents, specifications, standards, or requirements.{{end}}

# Notes
{{if .Notes}}{{.Notes}}{{else}}Additional remarks, assumptions, special instructions, or contextual information.{{end}}
